<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.bough.graphiti</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__HOME__/serve.py</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GRAPHITI_HOME</key><string>__HOME__</string>
    <key>GRAPHITI_PORT</key><string>__PORT__</string>
    <key>GRAPHITI_LLM</key><string>__LLM__</string>
    <key>MODEL_NAME</key><string>__MODEL__</string>
    <key>EMBEDDER_MODEL</key><string>__EMBEDDER__</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
  <key>StandardOutPath</key><string>__HOME__/serve.log</string>
  <key>StandardErrorPath</key><string>__HOME__/serve.log</string>
</dict>
</plist>
